server:
  port: 8888
app:
  api-prefix: /api/v1
application:
  name: api-gateway
spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8080
              predicates:
                - Path=${app.api-prefix}/identity/**
              filters:
                - StripPrefix=3
            - id: movie-service
              uri: http://localhost:8081
              predicates:
                - Path=${app.api-prefix}/movie-service/**
              filters:
                - StripPrefix=3